<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:layout:layoutTitle="${title}">Title</title>
    <link rel="stylesheet" href="/common/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/common/css/header.css" />
    <link rel="icon" href="/images/eclipse_icon.png"/>
    <script src="/common/js/categoryList.js" defer></script>

    <!-- 챗봇 기능 추가 -->
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <link rel="stylesheet" href="/chatbot/css/chatbotStyle.css">
    <script src="/chatbot/js/chatbotSetup.js" defer></script> 
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img id="logo-img" src="/images/logo.png" alt="logo">
            </a>

            <ul class="navbar-nav">

            </ul>
            <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
				<!-- 로그인하지 않은 사용자 -->
			    <li class="nav-item" sec:authorize="isAnonymous()">
			        <a class="nav-link" href="/login">로그인</a>
			    </li>
			    <li class="nav-item" sec:authorize="isAnonymous()">
			        <a class="nav-link" href="/join">회원가입</a>
			    </li>

			    <!-- 로그인한 사용자 -->
			    <li class="nav-item" sec:authorize="isAuthenticated()">
			        <a class="nav-link" href="/logout">로그아웃</a>
			    </li>
			    <li class="nav-item" sec:authorize="isAuthenticated()">
			        <a class="nav-link" href="/mypage">마이페이지</a>
			    </li>

			    <!-- 공통 메뉴 -->
			    <li><div class="position-relative" style="display: inline-block;">
                    <a href="/order/cart">
                    <img src="/images/cart_icon.png" style="width: 50px" href="/order/cart">
                    <div id="item-count-badge" class="badge bg-primary position-absolute bottom-0 start-100 translate-middle-x rounded-pill bg-danger">
                        1
                    </div>
                    </a>
                    
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
					    <a class="nav-link" href="/admin">관리자 페이지</a>
					</li>
                </div></li>
            </ul>
        </div>
    </nav>
</header>

<main layout:fragment="content"></main>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="/common/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script>
    function optionCount(cart){
        let cnt = 0;
        cart.forEach(item => cnt += item.option.length)
        return cnt;
    }
    function countInit(){
        document.getElementById("item-count-badge").textContent = optionCount(JSON.parse(localStorage.getItem("cart")));
    }

    countInit();
</script>
</body>
</html>