<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>포인트 관리</title>
    <link rel="stylesheet" href="/common/css/bootstrap.min.css">
    <link rel="stylesheet" href="/common/css/common-button.css">
    <style>
        /* 기본 테이블 스타일 */
        table {
            border-collapse: collapse; /* 테두리 겹침 방지 */
            width: 100%;
            margin: 20px 0;
        }

        /* 마우스 올릴 때 테두리 색상 변경 */
        tbody tr:hover td {
            border-color: #007BFF; /* 파란색 테두리 */
        }
    </style>
</head>
<body>
<main layout:fragment="content">
    <div class="container mt-5 d-flex flex-column align-items-center">
        <h2 class="my-3">포인트 관리</h2>
        <form method="get" action="/admin/point" class="d-flex justify-content-between my-1" style="gap: 300px;">
            <div class="d-flex align-items-center" style="gap: 10px;">
                <input th:value="${keyword}" class="form-control" placeholder="사용자의 이메일로 검색" style="width: 300px"
                       name="email">
                <button class="btn btn-dark" type="submit">검색</button>
            </div>
        </form>
        <table class="table">
            <thead align="center">
            <tr>
                <th scope="col">포인트 번호</th>
                <th scope="col">가입 일자</th>
                <th scope="col">마지막 수정 일자</th>
                <th scope="col">회원 이름</th>
                <th scope="col">회원 이메일</th>
                <th scope="col">잔여 포인트</th>
                <th scope="col">포인트 지급</th>
            </tr>
            </thead>
            <tbody align="center">
            <tr th:each="point, index : ${pointPage}" id="order-info"
                th:onclick="|location.href='@{/admin/point/{pointId}(pointId=${point.pointId})}'|"
                style="cursor: pointer;">
                <td th:text="${point.getPointId()}">/td>
                <td th:text="${#temporals.format(point.getCreatedDate(), 'yy-MM-dd')}">1</td>
                <td th:text="${#temporals.format(point.getUpdatedDate(), 'yy-MM-dd')}">Mark</td>
                <td th:text="${point.getMember().getName()}">Mark</td>
                <td class="member-email" th:text="${point.getMember().getEmail()}">Otto</td>
                <td th:text="${point.getBalance()}">@mdo</td>
                <td>
                    <button type="button" class="btn btn-dark point-change" data-bs-toggle="modal"
                            data-bs-target="#exampleModal" onclick="event.stopPropagation()"
                            style="height: 30px; line-height: 0">
                        포인트 지급
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:if="${pointPage.isEmpty()}">
            포인트가 존재하지 않습니다.
        </div>
        <nav aria-label="Page navigation example" th:if="${!pointPage.isEmpty()}">
            <ul class="pagination" align="center">
                <li th:if="${currentPage > 0}" class="page-item">
                    <a class="page-link" th:href="|?page=${currentPage - 1}|" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <div th:each="i : ${#numbers.sequence(0, pointPage.getTotalPages() - 1)}">
                    <li class="page-item"><a class="page-link" th:text="${i + 1}" th:href="|?page=${i}|">1</a></li>
                </div>
                <li th:if="${currentPage < pointPage.getTotalPages() - 1}" class="page-item">
                    <a class="page-link" th:href="|?page=${currentPage + 1}|" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">포인트 지급</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modal-body" class="modal-body">
                    <div class="input-group mb-3">
                        <input id="point-input" class="form-control" aria-label="Recipient's username"
                               aria-describedby="button-addon2" pattern="[0-9]+" style="text-align: right;" required
                               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                        <span class="input-group-text">P</span>
                    </div>
                    사유
                    <textarea id="message-textarea" name="reason" placeholder="포인트 지급 사유" required maxlength="100"
                              style="width: 100%; height: 6.25em; resize: none;"></textarea>
                </div>
                <div class="modal-footer">
                    <button id="cancel-modal" type="button" class="btn common-cancel-button" data-bs-dismiss="modal">
                        취소
                    </button>
                    <button id="point-save-button" type="button" class="btn common-confirm-button option-save-button">
                        변경사항 저장
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="/common/js/bootstrap.bundle.min.js"></script>
    <script th:inline="javascript">
        const pointChange = document.getElementsByClassName("point-change");
        for (let i = 0; i < pointChange.length; i++) {
            pointChange[i].addEventListener("click", () => {
                document.getElementById("point-save-button").addEventListener("click", async () => {
                    await fetch("/api/v1/points/save-point", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            email: document.getElementsByClassName("member-email")[i].textContent,
                            saveReason: document.getElementById("message-textarea").value,
                            savedPoint: document.getElementById("point-input").value
                        })
                    })

                    console.log(document.getElementsByClassName("member-email")[i].textContent);
                    alert("포인트 지급이 완료되었습니다.");
                    location.reload();
                })
            });
        }
    </script>
</main>
</body>
</html>