<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>리뷰 목록</title>
    <link rel="stylesheet" href="/common/css/bootstrap.min.css">
    <link rel="stylesheet" href="/review/css/reviewList.css">
    <link rel="stylesheet" href="/review/css/reviewCommon.css">
</head>
<body>
<main layout:fragment="content">
    <div class="container mt-5 d-flex flex-column align-items-center">
        <div id="review-header" class="d-flex align-items-end mb-3">
            <h2 class="mr-3 mb-1 ">전체 리뷰</h2>
            <p id="average-stars" class="d-flex align-items-end mb-0">
                <span id="star">★</span>
                <span th:text="${averageStars}"></span>
            </p>
            <div id="sort-options" class="d-flex align-items-end mb-0">
                <select id="sortSelect" class="form-select" onchange="changeSortOption()">
                    <option value="date" th:selected="${sortOption == 'date'}">최신순</option>
                    <option value="highRating" th:selected="${sortOption == 'highRating'}">높은 평점순</option>
                    <option value="lowRating" th:selected="${sortOption == 'lowRating'}">낮은 평점순</option>
                </select>
            </div>
        </div>
        <div id="review-list">
            <div th:if="${#lists.isEmpty(reviews)}">
                <p class="mb-0">작성된 리뷰가 없습니다.</p>
            </div>
            <div class="review" th:each="review : ${reviews}">
                <p class="review-info">
                    <span class="nickname" th:text="${review.nickname}"></span>
                    <span class="create-date" th:text="${review.date}"></span>
                </p>
                <p class="review-info"><span th:each="i : ${#numbers.sequence(1, review.stars)}">★</span></p>
                <p class="review-info">
                    <span th:text="|${review.color} / |"></span>
                    <span th:text="${review.size}"></span>
                </p>
                <div class="content-wrapper mt-4">
                    <p class="review-content mb-0" th:text="${review.content}"></p>
                    <span class="more-text">더보기</span>
                    <span class="less-text">줄이기</span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center" style="width: 70%; position: relative;">
            <nav id="pagination" aria-label="Page navigaion" th:if="${!#lists.isEmpty(reviews)}">
                <ul class="pagination">
                    <li class="page-item" th:if="${currentPage > 0}" th:classappend="${currentPage == 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/products/{productId}/reviews(productId=${productId}, page=${currentPage - 1})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}"
                        th:classappend="${pageNum == currentPage} ? 'active'">
                        <a class="page-link"
                           th:href="@{/products/{productId}/reviews(productId=${productId}, page=${pageNum})}"
                           th:text="${pageNum + 1}"></a>
                    </li>

                    <li class="page-item" th:if="${currentPage + 1 < totalPages}"
                        th:classappend="${currentPage + 1 >= totalPages} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/products/{productId}/reviews(productId=${productId}, page=${currentPage + 1})}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="review-btn">
                <a class="btn btn-bd-primary" th:href="@{/products/detail/{productId}(productId=${productId})}">상품 페이지</a>
            </div>
        </div>
    </div>

    <script src="/review/js/reviewList.js" defer></script>
</main>
</body>
</html>
