<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>후기 작성</title>
    <link rel="stylesheet" href="/common/css/bootstrap.min.css">
    <link rel="stylesheet" href="/review/css/reviewCreate.css">
    <script src="/review/js/loadProductInfo.js" defer></script>
    <script src="/review/js/reviewCreate.js" defer></script>
</head>
<body>
<main layout:fragment="content">
<div class="review-box">
    <h2>이 상품 어떠셨나요?</h2>
    <div class="product-info"></div>
    <hr>
    <form id="review-form" action="/review/create" method="post" novalidate>
        <fieldset class="mb-3">
            <span id="star-message" class="form-text text-danger d-none">별점을 선택해주세요</span>
            <input type="radio" name="stars" value="5" id="rate1">
            <label for="rate1">★</label>
            <input type="radio" name="stars" value="4" id="rate2">
            <label for="rate2">★</label>
            <input type="radio" name="stars" value="3" id="rate3">
            <label for="rate3">★</label>
            <input type="radio" name="stars" value="2" id="rate4">
            <label for="rate4">★</label>
            <input type="radio" name="stars" value="1" id="rate5">
            <label for="rate5">★</label>
        </fieldset>

        <div class="mb-3">
            <textarea class="form-control" type="text" name="content" id="review-contents" rows="5"
                      placeholder="구매하신 상품에 대한 후기를 20자 이상 500자 이하로 남겨주세요." required></textarea>
            <div class="char-count">
                <span id="current-count">0</span>/500
            </div>
            <div id="content-error" class="form-text text-danger d-none">
                글자 수는 20자 이상 500자 이하여야 합니다.
            </div>
        </div>

        <div class="review-btn d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-secondary" href="/order">작성 취소</a>
            <button type="submit" class="btn btn-bd-primary">작성 완료</button>
        </div>
    </form>
</div>
</main>
</body>
</html>