<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
    <link href="/common/css/bootstrap.min.css" rel="stylesheet">
    <link href="/order/css/order-detail.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="content-container">
        <h2 class="text-center mb-4">주문 상세내역</h2>

        <div>
            <h3 th:text="${#temporals.format(order.getCreatedDate(), 'yyyy.MM.dd HH:mm')}"></h3>
            <small th:text="|주문번호 ${orderNo}|"></small>
        </div>
        <hr>
        <div>
            <p><h5 th:text="${order.getAddressee()}">이름</h5></p>
            <p th:text="${order.getContact()}">010-****-1234</p>
            <p th:text="|(${order.getPostNo()}) ${order.getAddress()} ${order.getAddressDetail()}|"></p>
            <small th:text="|요청사항: ${order.getRequirement()}|"></small>
        </div>
        <hr>
        <h5 th:text="|주문 상품 ${detailList.size()}개|"></h5>
        <small th:text="${order.getOrderStatus()}"></small>
        <div>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-sm-start" th:each="detail : ${detailList}">
                    <div>
                        <img src="https://via.placeholder.com/150" class="img-fluid rounded" alt="Product Image"
                             width="100px">
                    </div>
                    <div class="flex-column">
                        <span th:text="${detail.getProduct().getProductName()}">Product Name (M / 2 pcs)</span><br>
                        <div>
                        <span th:text="|${detail.getColor()} / ${detail.getSize()} / ${detail.getQuantity()}개|">옵션 / 개수</span><br>
                        </div>
                        <span th:text="|${detail.getPrice() * detail.getQuantity()}원|">가격</span><br>
                    </div>
                </li>
            </ul>
        </div>
        <hr>
        <h5>결제 정보</h5>
        <div class="d-flex justify-content-between">
            <p>상품 금액</p>
            <p th:text="|${order.getTotalPrice()}원|">총 상품 금액</p>
        </div>
        <div class="d-flex justify-content-between">
            <p>포인트 사용</p>
            <p th:text="|${point.getAmount()}포인트|"></p>
        </div>
        <div class="d-flex justify-content-between">
            <p>배송비</p>
            <p th:if="${order.getTotalPrice() >= 50000}">무료</p>
            <p th:if="${order.getTotalPrice() < 50000}">3000원</p>
        </div>
        <div class="d-flex justify-content-between">
            <p style="font-size: 20px">결제 금액</p>
            <p th:text="|${payment.getAmount()}원|">총 결제 금액</p>
        </div>
        <!-- TODO 상품 상세 제대로 표시하기 -->
        <div class="d-flex justify-content-between">
            <p>결제 수단</p>
            <p th:text="${payment.getPayMethod()}">결제 수단</p>
        </div>
        <div th:if="${order.getOrderStatus() != 'CONFIRMED'}">
            <div class= "mt-4 d-flex justify-content-around">
                <button id="confirm-button" class="btn custom-button" name="orderStatus" value="CONFIRMED" onclick="">구매 확정</button>
                <button class="btn custom-button" name="orderStatus" value="REFUND" type="submit">환불 요청</button>
                <button class="btn custom-button" name="orderStatus" value="EXCHANGE" type="submit">교환 요청</button>
            </div>
            <div>
                구매확정시 상품금액 1% 포인트 적립
            </div>
        </div>
    </div>
</div>
<script src="/order/js/orderDetail.js"></script>
<script src="/common/js/bootstrap.bundle.min.js"></script>
<!--<script>-->
<!--    document.getElementById("confirm-button").addEventListener("click", async () => {-->
<!--        const confirmed = confirm("구매확정을 하시겠습니까?");-->
<!--        if (confirmed){-->
<!--            fetch(`/api/v1/orders/${window.location.pathname.split("/").pop()}/update-status`, {-->
<!--                method: "PATCH",-->
<!--                headers: {-->
<!--                    "Content-Type": "application/json",-->
<!--                },-->
<!--                body: JSON.stringify("CONFIRMED"),-->
<!--            })-->
<!--                .then((response) => {-->
<!--                    if (!response.ok) {-->
<!--                        alert("요청에 실패했습니다.");-->
<!--                        throw new Error(`HTTP error! status: ${response.status}`);-->
<!--                    }-->
<!--                })-->
<!--                .then(() => {-->
<!--                    fetch("/api/v1/points/save-point", {-->
<!--                        method: "PATCH",-->
<!--                        headers: {-->
<!--                            "Content-Type": "application/json",-->
<!--                        },-->
<!--                        body: JSON.stringify({-->
<!--                            email: "root@root.com",-->
<!--                            saveReason: `[[${detailList.get(0).getProduct().getProductName()}]] 외 [[${detailList.length - 1}]] 개`,-->
<!--                            savedPoint: [[${order.getTotalPrice() * 0.01}]]-->
<!--                        }),-->
<!--                    })-->
<!--                })-->
<!--                .then((data) => console.log("Response:", data))-->
<!--                .catch((error) => console.error("Error:", error))-->
<!--        }-->
<!--    });-->
<!--</script>-->
</body>
</html>
