<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 내역</title>
    <link rel="stylesheet" href="/order/style/bootstrap.min.css">
</head>
<body>
<div th:each="order : ${orderList}">
    <h1 th:text="${order.getOrderNo().toString()}"></h1>
</div>
<div class="container mt-5 d-flex flex-column align-items-center">
    <h2 class="mb-4">주문내역</h2>

    <!-- Card Example -->
    <div class="order-date">Order Date: 2024-12-12</div>
    <div class="card mb-3 w-100" style="max-width: 540px; cursor: pointer" id="product-card"
         th:each="detail, i : ${detailList}" th:onclick="|location.href= '/order/' + ${detail.getOrder().getOrderNo()}|">
<!--        <div>-->
<!--            <h4 th:text="|${detail.getOrder().getCreatedDate()}, ${detail.getOrder().getOrderNo()}|"></h4>-->
<!--        </div>-->
        <div class="row g-0">
            <!-- Image Section -->
            <div class="col-md-4">
                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="Product Image">
            </div>

            <!-- Text Section -->
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text text-muted" style="position: absolute; top: 0; right: 0; margin: 10px; font-size: 0.9em;">Order Date: 2024-12-12</p>
                    <h5 class="card-title" th:text="${detail.getProduct().getProductName()}">Product Name</h5>
                    <p class="card-text mb-1" th:text="|Option / ${detail.getQuantity()}개|">Size/Quantity</p>
                    <p class="card-text" th:text="|${detail.getPrice()}원|">Price: <strong>30,000원</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-sm-start" th:each="detail : ${detailList}">
                <div>
                    <img src="https://via.placeholder.com/150" class="img-fluid rounded" alt="Product Image"
                         width="100px">
                </div>
                <div class="flex-column">
                    <span>브랜드명</span><br>
                    <span th:text="${detail.getProduct().getProductName()}">Product Name (M / 2 pcs)</span><br>
                    <span th:text="|Option:size / ${detail.getQuantity()}개|">옵션 / 개수</span><br>
                    <span th:text="|${detail.getPrice()}원|">가격</span><br>
                </div>
            </li>
        </ul>
    </div>
</div>

<script src="/order/js/bootstrap.bundle.min.js"></script>
</body>
</html>
