<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
    <link href="/order/style/bootstrap.min.css" rel="stylesheet">
    <link href="/order/style/order-detail.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="content-container">
        <h2 class="text-center mb-4">주문 상세내역</h2>

        <div>
            <h3 th:text="${#temporals.format(order.getCreatedDate(), 'yyyy.MM.dd HH:mm')}"></h3>
            <small th:text="|주문번호 ${orderNo}|"></small>
        </div>
        <hr>
        <div>
            <p><h5 th:text="${order.getAddressee()}">이름</h5></p>
            <p th:text="${order.getContact()}">010-****-1234</p>
            <p th:text="|(${order.getPostNo()}) ${order.getAddress()} ${order.getAddressDetail()}|"></p>
            <small th:text="|요청사항: ${order.getRequirement()}|"></small>
        </div>
        <hr>
        <h5 th:text="|주문 상품 ${detailList.size()}개|"></h5>
        <small th:text="${order.getOrderStatus()}"></small>
        <div>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-sm-start" th:each="detail : ${detailList}">
                    <div>
                        <img src="https://via.placeholder.com/150" class="img-fluid rounded" alt="Product Image"
                             width="100px">
                    </div>
                    <div class="flex-column">
                        <span>브랜드명</span><br>
                        <span th:text="${detail.getProduct().getProductName()}">Product Name (M / 2 pcs)</span><br>
                        <div>
                        <span th:text="|${detail.getColor()} / ${detail.getSize()} / ${detail.getQuantity()}개|">옵션 / 개수</span><br>
                        </div>
                        <span th:text="|${detail.getPrice()}원|">가격</span><br>
                    </div>
                </li>
            </ul>
        </div>
        <hr>
        <h5>결제 정보</h5>
        <div class="d-flex justify-content-between">
            <p>상품 금액</p>
            <p th:text="|${order.getTotalPrice()}원|">총 상품 금액</p>
        </div>
        <div class="d-flex justify-content-between">
            <p>포인트 적립</p>
            <p>n포인트</p>
        </div>
        <div class="d-flex justify-content-between">
            <p>배송비</p>
            <p th:if="${order.getTotalPrice() >= 50000}">무료</p>
            <p th:if="${order.getTotalPrice() < 50000}">3000원</p>
        </div>
        <div class="d-flex justify-content-between">
            <p style="font-size: 20px">결제 금액</p>
            <p th:text="|${payment.getAmount()}원|">총 결제 금액</p>
        </div>
        <!-- TODO 상품 상세 제대로 표시하기 -->
        <div class="d-flex justify-content-between">
            <p>결제 수단</p>
            <p th:text="${payment.getPayMethod()}">결제 수단</p>
        </div>
        <div class= "mt-4 d-flex justify-content-around">
            <button class="btn delete-button" name="orderStatus" value="CANCEL" onclick="">주문 취소</button>
            <button class="btn custom-button" name="orderStatus" value="REFUND" type="submit">환불 요청</button>
            <button class="btn custom-button" name="orderStatus" value="EXCHANGE" type="submit">교환 요청</button>
        </div>
    </div>
</div>
<script src="/order/js/orderDetail.js"></script>
<script src="/order/js/bootstrap.bundle.min.js"></script>
</body>
</html>
