<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}" lang="en">
<head>
  <title>찜한 상품 목록</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="/favorite/css/favoriteList.css">
</head>
<body>
<main layout:fragment="content">
<div class="container">
  <h1>찜한 상품 목록</h1>
  <!-- 제품 목록 -->
  <div class="product-list">
    <div th:each="product : ${favoriteProductPage.content}" class="product-card">
      <!-- 찜 삭제 버튼 추가 -->
      <button class="remove-favorite-btn"
              th:onclick="|removeFavorite(${product.productId})|">
        <i class="bi bi-x-lg"></i>
      </button>
      <a th:href="@{/products/detail/{id}(id=${product.productId})}">
        <img th:src="${product.imageUrls[0]}" alt="상품 이미지">
      </a>
      <p class="title" th:text="${product.productName}">상품명</p>
      <p class="price" th:text="'₩' + ${#numbers.formatInteger(product.price, 3, 'COMMA')}">가격</p>
    </div>
  </div>

  <!-- 페이지네이션 -->
  <div class="pagination" th:if="${totalPages > 0}">
    <a th:if="${currentPage > 0}" th:href="@{/favorites(page=0, search=${search}, sort=${sort}, categoryId=${categoryId})}">&lt;&lt;</a>
    <a th:if="${currentPage > 0}" th:href="@{/favorites(page=${currentPage - 1}, search=${search}, sort=${sort}, categoryId=${categoryId})}">&lt;</a>
    <span th:each="pageNum : ${#numbers.sequence(startPage, endPage)}">
        <a th:href="@{/favorites(page=${pageNum - 1}, search=${search}, sort=${sort}, categoryId=${categoryId})}"
           th:classappend="${currentPage == pageNum - 1} ? 'active' : ''"
           th:text="${pageNum}"></a>
    </span>
    <a th:if="${currentPage < totalPages - 1}" th:href="@{/favorites(page=${currentPage + 1}, search=${search}, sort=${sort})}">&gt;</a>
    <a th:if="${currentPage < totalPages - 1}" th:href="@{/favorites(page=${totalPages - 1}, search=${search}, sort=${sort})}">&gt;&gt;</a>
  </div>
</div>


<script src="/favorite/js/favoriteList.js"></script>
</main>
</body>
</html>
