h1 {
    margin: 20px;
    text-align: center; /* 이름을 가운데 정렬 */
    padding-bottom: 10px; /* 텍스트와 밑줄 사이 여백 추가 */
    border-bottom: 2px solid #000; /* 밑줄 추가 */
}

#add-main-cagegory {
    margin-left: 30px;
}

#category-list {
    margin-top: 30px;
}

.main-category {
    display: inline-block; /* 메인 카테고리들이 같은 줄에 위치 */
    margin: 0 20px; /* 상하좌우 여백 추가 */
    padding: 10px; /* 내부 여백 추가 */
    vertical-align: top; /* 상하 정렬 */
}

.main-category p {
    font-size: 1.5em; /* 메인 카테고리 이름 크기 조정 */
    text-align: center; /* 이름을 가운데 정렬 */
    padding-bottom: 5px; /* 텍스트와 밑줄 사이 여백 추가 */
    border-bottom: 2px solid #000; /* 밑줄 추가 */
    margin-top: 0px;
    margin-bottom: 0px;
}

/*
.main-category-btn {
    display: flex;
    justify-content: flex-end;
}
 */

.sub-category {
    margin-right: 25px;
    margin-bottom: 5px;
}

.sub-category span {
    font-size: 1.2em; /* 서브 카테고리 이름 크기 조정 */
}

button {
    margin-top: 5px; /* 버튼 위로 여백 추가 */
}

.add-sub-category-btn {
    display: block; /* 버튼을 블록 요소로 설정 */
    margin: 10px auto; /* 상하 여백 추가 및 좌우 중앙 정렬 */
}

.form-container {
    display: none; /* 폼은 초기에는 숨겨짐 */
    margin-bottom: 20px;
}
.form-container.active {
    display: block; /* 활성화 시 표시 */
}