<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품 등록 페이지</title>
  <link rel="stylesheet" href="/common/css/bootstrap.min.css">
  <link rel="stylesheet" href="/product/css/productCreate.css">
</head>
<body>
<main layout:fragment="content">
<form id="productForm">
  <h2>상품을 판매해 보세요</h2>
  <div class="mb-3">
    <label class="form-label" for="productName">*상품 이름</label>
    <input type="text" id="productName" name="productName" placeholder="상품 이름을 입력하세요" class="form-control">
    <span class="error-message" id="productNameError"></span>
  </div>

  <div class="mb-3">
    <label class="form-label" for="mainCategory">*메인 카테고리</label>
    <select class="form-control" id="mainCategory" name="mainCategory">
      <option value="">메인 카테고리를 선택하세요</option>
    </select>
    <span class="error-message" id="mainCategoryError"></span>
  </div>

  <div class="mb-3">
    <label class="form-label" for="subCategory">*서브 카테고리</label>
    <select class="form-control" id="subCategory" name="subCategory" disabled>
      <option value="">서브 카테고리를 선택하세요</option>
    </select>
    <span class="error-message" id="subCategoryError"></span>
  </div>

  <div id="sizeColorStockContainer">
    <label class="form-label" >*사이즈별 색상 및 재고</label>
    <div class="size-color-stock-group">
      <select name="sizes[]" title="사이즈를 선택하세요" class="form-control">
        <option value="">사이즈 선택</option>
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
      </select>
      <input class="form-control" type="text" name="colors[]" placeholder="색상 입력">
      <input class="form-control" type="number" name="stocks[]" placeholder="재고 입력" min="0">
      <button type="button" class="remove-size-color-stock">삭제</button>
      <span class="error-message"></span>
    </div>
  </div>
  <button type="button" id="addSizeColorStock">색상 및 재고 추가</button>

  <div class="mb-3">
    <label class="form-label" for="price">*가격</label>
    <input type="text" id="price" name="price" placeholder="가격을 입력하세요" class="form-control">
    <span class="error-message" id="priceError"></span>
  </div>

  <div class="mb-3">
    <label class="form-label" for="description">*상세 설명</label>
    <textarea id="description" name="description" rows="5" placeholder="제품에 대한 설명을 입력하세요" class="form-control"></textarea>
    <span class="error-message" id="descriptionError"></span>
  </div>

  <div>
    <label for="images">*사진 첨부</label>
    <div class="tooltip-container">
      <img src="/images/imageInfo.png" alt="info" class="info-icon">
      <span class="tooltip-text">순서 1의 사진의 대표 사진으로 등록됩니다.</span>
    </div>
    <input type="file" id="images" name="images" accept="image/*" multiple style="display: none;">
    <!-- 사용자 정의 파일 선택 버튼 -->
    <button type="button" id="customFileButton">이미지 파일 선택</button>
    <span id="fileCountMessage">선택된 파일: 0개</span>
    <ul id="imagePreviewList"></ul>
  </div>

  <div class="button-container">
    <button type="submit" class="submit-button">등록</button>
    <button type="button" class="cancel-button" onclick="history.back()">취소</button>
  </div>
</form>
<script src="/product/js/productCreate.js"></script>
<script src="/product/js/productCreateValidation.js"></script>
</main>
</body>
</html>