<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/order/style/bootstrap.min.css">
</head>
<body>
<table class="table">
    <thead align="center">
    <tr>
        <th scope="col">주문 번호</th>
        <th scope="col">날짜</th>
        <th scope="col">이름</th>
        <th scope="col">이메일</th>
        <th scope="col">주문 총액</th>
        <th scope="col">주문 상태</th>
        <th scope="col">취소</th>
    </tr>
    </thead>
    <tbody align="center">
    <tr th:each="order: ${orderList}" id="order-info" th:onclick="|location.href='@{/admin/orders/{orderNo}(orderNo=${order.orderNo})}'|">
        <td th:text="${order.getOrderNo()}">/td>
        <td th:text="${#temporals.format(order.getCreatedDate(), 'yy-MM-dd')}">1</td>
        <td th:text="${order.getMember().getName()}">Mark</td>
        <td th:text="${order.getMember().getEmail()}">Mark</td>
        <td th:text="${order.getTotalPrice()}">Otto</td>
        <td th:text="${order.getOrderStatus()}">@mdo</td>
        <td><form th:action="|/api/admin/order/${order.getOrderNo()}/delete|" method="post" onsubmit="location.href">
            <input type="hidden" name="_method" value="delete">
            <button type="submit">주문 취소</button>
        </form>
        </td>
    </tr>
    </tbody>
</table>
<script src="/order/js/bootstrap.bundle.min.js"></script>
</body>
</html>