<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>추가 정보 입력</title>
</head>
<body>
    <h1>추가 정보 입력</h1>
    
    <!-- 이메일 & 이름은 구글에서 가져온 값 -->
    <p>이메일: <span th:text="${email}"></span></p>
    <p>이름: <span th:text="${name}"></span></p>
    
    <form th:action="@{/signup/extra}" method="post">
        <div>
            <label>전화번호</label>
            <input type="text" name="phone" placeholder="전화번호"/>
        </div>
        <div>
            <label>우편번호</label>
            <input type="text" name="postNo" placeholder="우편번호"/>
        </div>
        <div>
            <label>주소</label>
            <input type="text" name="address" placeholder="주소"/>
        </div>
        <div>
            <label>상세주소</label>
            <input type="text" name="addressDetail" placeholder="상세 주소"/>
        </div>
        
        <button type="submit">가입 완료</button>
    </form>
</body>
</html>
