<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="/member/css/findPassword.css">
</head>
<body>
<main layout:fragment="content">
    <div class="reset-container">
        <h2>비밀번호 찾기</h2>
        <form th:action="@{/password-reset}" method="post">
            <input type="email" name="email" placeholder="이메일을 입력해주세요" required>
            <button type="submit">임시 비밀번호 생성</button>
        </form>
        
        <div th:if="${tempPassword}" class="temp-password">
            <p>임시 비밀번호: <strong th:text="${tempPassword}"></strong></p>
            <p>로그인 후 비밀번호를 변경해주세요.</p>
        </div>
    </div>
</main>
</body>
</html>
