<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
    <h1>회원가입</h1>
    <form th:action="@{/join}" method="post">
        <label for="email">이메일:</label>
        <input type="email" id="email" name="email" required maxlength="255"><br>
		<button type="button" id="emailCheckBtn">이메일 중복 확인</button>
    	<span id="emailError" style="color: red;"></span><br>
		<br>
		
        <label for="nickname">닉네임:</label>
        <input type="text" id="nickname" name="nickname" required maxlength="20"><br>
        <button type="button" id="nicknameCheckBtn">닉네임 중복 확인</button>
    	<span id="nicknameError" style="color: red;"></span><br>
		<br>
		
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required maxlength="20"><br>
        <span id="passwordError" style="color: red;"></span>
        <br>

        <label for="confirmPassword">비밀번호 확인:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required maxlength="20"><br>
        <span id="passwordConfirmError" style="color: red;"></span>
		<br>
		
        <label for="phone">전화번호:</label>
        <input type="text" id="phone" name="phone" required><br>

		 <!-- 주소 입력 -->
        <label for="postNo">우편번호:</label>
        <input type="text" id="postNo" name="postNo" readonly /><br>

        <label for="address">주소:</label>
        <input type="text" id="address" name="address" readonly /><br>

        <!-- 상세 주소 -->
        <label for="addressDetail">상세 주소:</label>
        <input type="text" id="addressDetail" name="addressDetail" placeholder="상세 주소를 입력하세요" /><br>

        <!-- 우편번호 검색 버튼 -->
        <button type="button" onclick="openPostcodePopup()">우편번호 검색</button><br>



		<!-- 오류 메시지 표시 -->
        <div th:if="${error}" style="color: red;">
            <p th:text="${error}"></p>
        </div>

        <button type="submit">회원가입</button>
    </form>
    
    <!-- 자바스크립트 파일 추가 -->
    <script src="/member/js/joincheck.js"></script>
    <script src="/member/js/joinPostInput.js"></script>
</body>
</html>