<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/common/css/bootstrap.min.css">
    <link rel="stylesheet" href="/member/css/loginStyle.css">
</head>
<main layout:fragment="content">
<body>
    <div class="login-container">
        <div class="login-box">
            <div class="login-header">로그인</div>
            <form id="loginForm">
                <input type="email" id="email" class="form-control" placeholder="이메일" required>
                <input type="password" id="password" class="form-control" placeholder="비밀번호" required>
                <div class="password-reset">
                    <a href="/password-reset">비밀번호 찾기</a>
                </div>
                <button type="button" id="loginButton" class="btn btn-purple">로그인</button>
            </form>
            <!-- 구글 로그인 버튼 -->
			<a href="/oauth2/authorization/google" class="google-login-btn">
			    <img src="/images/google-icon.png" alt="Google Icon" class="google-icon">
			    Google 계정으로 로그인
			</a>
        </div>
    </div>
    <script src="/member/js/jwtLogin.js"></script>
</body>
</main>
</html>


