<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/order/style/bootstrap.min.css">
	<link rel="stylesheet" href="/member/css/mypageStyle.css">
</head>
<body>
    <div class="mypage-container">
        <!-- 상단 프로필 섹션 -->
        <div class="profile-header">
            <div class="profile-info">
                <img src="/member/tempimage.png" alt="Profile">
                <div>
                    <div class="profile-text"><strong th:text="${member.nickname}"></strong>님, 안녕하세요!</div>
                    <div class="membership">
                        <span th:text="${member.membership}"></span> 등급
                    </div>
                </div>
            </div>
            <div class="profile-button">
                <a href="/mypage/edit">
                    <button>회원정보 수정</button>
                </a>
            </div>
        </div>

        <!-- 정보 테이블 -->
        <table class="info-table">
            <thead>
                <tr>
                    <th>주문내역</th>
                    <th>리뷰</th>
                    <th>문의</th>
                    <th>포인트</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>링크연결</td>
                    <td>링크연결</td>
                    <td>링크연결</td>
                    <td>0원</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

