.inquiry-create {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.inquiry-create h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.product-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.product-info img {
    width: 180px;
    height: auto;
    border-radius: 8px;
    margin-right: 30px;
}

.product-info p {
    margin: 5px 0;
    font-size: 18px;
    color: #666;
}

.form-label {
    font-size: 22px;
}

.btn {
    padding: 8px 25px;
    font-size: 16px;
    border-radius: 5px;
}

.btn-primary {
    background-color: black;
    border-color: black;
}

.btn-danger {
    background-color: #ccc;
    border-color: #ccc;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 40px;
}

form {
    display: inline-block;
    max-width: 900px;
    text-align: left;
}

.form-control {
    height: 50px;
    font-size: 16px;
    padding: 10px;
    width: 800px;
}

textarea.form-control {
    height: 150px;
    width: 800px;
}

.character-counter {
    font-size: 0.9rem;
    color: #6c757d;
}

.character-counter.error {
    color: #dc3545;
}