.inquiry-create {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.inquiry-create h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.product-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
}

.product-info img {
    width: 300px; /* 부모 요소의 너비에 맞춤 */
    height: 300px; /* 부모 요소의 높이에 맞춤 */
    object-fit: contain; /* 비율 유지, 넘치는 부분 잘라냄 */
}

.product-info p {
    margin: 5px 0;
    font-size: 18px;
    color: #666;
}

.form-label {
    font-size: 22px;
}

.btn {
    padding: 8px 25px;
    font-size: 16px;
    border-radius: 5px;
}

.btn-primary {
    background-color: #63009e;
    border: none;
}

.btn-primary:hover {
    background-color: #4E007C;
    border: none;
}

.btn-danger {
    background-color: #CDCDCD;
    border: none;
}

.btn-danger:hover {
    background-color: #afafaf;
    border: none;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 40px;
}

form {
    display: inline-block;
    max-width: 900px;
    text-align: left;
}

.form-control {
    height: 50px;
    font-size: 16px;
    padding: 10px;
    width: 800px;
}

textarea.form-control {
    height: 150px;
    width: 800px;
}

.character-counter {
    font-size: 0.9rem;
    color: #6c757d;
}

.character-counter.error {
    color: #dc3545;
}