.detail-container {
    max-width: 800px;
    margin: 50px auto;
    /*padding: 20px;*/
    /*border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}
.detail-container h2 {
    margin-bottom: 20px;
}
.detail-container .info {
    margin-bottom: 15px;
}
.detail-container .info span {
    font-weight: bold;
}
.back-button {
    display: inline-block;
    margin-bottom: 10px;
}
.comments-section {
    margin-top: 30px;
}
.comment-block {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}
.comment-header {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 10px;
}
.comment-content {
    margin-bottom: 10px;
}
.comment-actions {
    text-align: right;
}
textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    resize: none;
}
.btn-primary {
    background-color: #63009e;
    border: none;
}

.btn-primary:hover {
    background-color: #4E007C;
    border: none;
}

.btn-secondary {
    margin-top: 10px;
}

.action-buttons {
    text-align: right;
}