.inquiry-list-board {
    max-width: 800px;
    margin: 50px auto;
    /*border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

.inquiry-list-board h2 {
    text-align: center;
}

.inquiry-list-container {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.inquiry-list-container h4 {
    margin-bottom: 10px;
}

.inquiry-list-container p {
    margin: 5px 0;
}

.inquiry-list-container .info {
    font-size: 0.9rem;
    color: #555;
}

.inquiry-write-button {
    margin-bottom: 20px;
    text-align: right;
}

.btn-primary {
    background-color: #540099;
    border: none;
}

.btn-primary:hover {
    background-color: #3e0074;
    border: none;
}

.button-group {
    text-align: right;
}

.product-info {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}