.my-inquiry-board {
    max-width: 800px;
    margin: 50px auto;
    /*padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

.my-inquiry-board h2 {
    text-align: center;
    margin-bottom: 30px;
}

.inquiry-container {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inquiry-container h4 {
    margin-bottom: 10px;
}

.inquiry-container p {
    margin: 5px 0;
}

.inquiry-container .info {
    font-size: 0.9rem;
    color: #555;
}

.btn-detail {
    text-align: right;
}

.zero {
    text-align: center;
    font-size: 1.1rem;
    color: #777;
}

#inquiry-list {
    display: flex;
    flex-direction: column;
}

.inquiry-list-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    border-bottom: 1px solid #ddd;
    font-size: 1rem;
}

.inquiry-left {
    flex-grow: 1;
}

.inquiry-left p.info {
    margin: 0;
    font-size: 0.9rem;
    color: #555;
}

.inquiry-left h5 {
    margin: 8px 0;
    font-size: 1.2rem;
}

.inquiry-right {
    margin-left: 15px;
    text-align: right;
}

.inquiry-right .btn-sm {
    font-size: 0.95rem;
}

.inquiry-list-row:last-child {
    border-bottom: none;
}