body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* 상단 바 정렬과 검색 */
.top-bar {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 20px;
}

.sort-dropdown {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.sort-dropdown select {
    margin-left: 10px;
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 14px;
}

.search-box input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
}

.search-box button {
    padding: 5px 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #333;
}

/* 상품 리스트 스타일 */
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    object-fit: contain; /* 이미지 비율 유지 */
}

.product-card {
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    object-fit: contain; /* 이미지 비율 유지 */
}

.product-card img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.product-card .title {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    margin: 1px 0;
    color: #333;
}

.product-card .price {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    color: #555;
    margin-top: 0px;
}

/* 페이지네이션 */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #fafafa;
}

.pagination a {
    display: inline-block;
    padding: 8px 8px;
    margin: 2px 5px;
    text-decoration: none;
    color: #333; /* 글자 색상 */
    background-color: #fff; /* 배경을 하얀색으로 설정 */
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #f0f0f0; /* 호버 시 밝은 회색 */
    color: #333;
}

.pagination a.active {
    background-color: #000; /* 활성화된 페이지: 검정 배경 */
    color: #fff; /* 글자 색상을 하얀색 */
    border-color: #000;
}

.out-of-stock {
    background-color: #000; /* 활성화된 페이지: 검정 배경 */
    color: #fff; /* 글자 색상을 하얀색 */
    font-weight: bold;
    font-size: 14px;
    margin-top : -5px
}

.selected-category #selectedCategoryText {
    text-align: left; /* 텍스트 왼쪽 정렬 */
    display: block;   /* 블록 요소로 변경 (필요 시) */
    margin-left: 0;   /* 추가로 왼쪽 여백을 설정 */
    font-size: 1rem;  /* 글씨 크기 (원하는 대로 설정) */
    margin-right : 600px;
    font-family : sans-serif;
}

.selected-category {
    display: flex;
    justify-content: flex-start; /* 자식 요소 왼쪽 정렬 */
    align-items: center;         /* 세로 방향 정렬 */
}

