<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}">
<head>
<meta charset="UTF-8">
<title>Eclipse</title>
<link rel="stylesheet" href="/mainpage/css/mainPageStyle.css">
</head>
<body>
	<main layout:fragment="content">
		<div class="slideshow-container">
			<img src="/images/mainImage/eclipse1.jpg" alt="Slide 1"
				class="slide active"> <img
				src="/images/mainImage/eclipse2.jpg" alt="Slide 2" class="slide">
			<img src="/images/mainImage/eclipse3.jpg" alt="Slide 3" class="slide">

		</div>


		<section class="best-seller-container">
			<h2 class="best-seller-title">BEST ITEMS</h2>
			<div class="best-seller-list">
				<!-- 상품이 있을 때 -->
				<div th:if="${#lists.size(bestSellers) > 0}"
					th:each="product : ${bestSellers}" class="best-seller-card">
					<a th:href="@{/products/detail/{id}(id=${product.productId})}">
						<img
						th:src="${product.imageUrls != null && product.imageUrls.size() > 0 ? product.imageUrls[0] : '/images/default-product.png'}"
						alt="베스트 셀러 이미지">
					</a>
					<p class="title" th:text="${product.productName}">상품명</p>
					<p class="price" th:text="|${#numbers.formatInteger(product.price, 0, 'COMMA')}원|">가격</p>
				</div>

				<!-- 상품이 없을 때 -->
				<p th:if="${#lists.isEmpty(bestSellers)}" class="no-products">
					현재 등록된 상품이 없습니다.</p>
			</div>
		</section>


		<script src="/member/js/logout.js"></script>
		<script src="/mainpage/js/slideshow.js"></script>
	</main>
</body>
</html>