<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 문의</title>
    <link href="/inquiry/style/bootstrap.min.css" rel="stylesheet">

    <style>
        .question-create {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>

</head>
<body>
<div class="question-create">
    <h2>문의 작성</h2>
    <form th:action="@{/products/{productId}/inquiries(productId=${productId})}" method="post">
        <div class="mb-3">
            <label class="form-label">제목</label>
            <input class="form-control" type="text" name="title" placeholder="문의 제목" required>
        </div>

        <div class="mb-3">
            <label class="form-label">문의 유형</label>
            <select class="form-control" name="type" required>
                <option value="SIZE">사이즈</option>
                <option value="SHIPPING">배송</option>
                <option value="RESTOCK">재입고</option>
                <option value="DETAILS">상세</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">내용</label>
            <textarea class="form-control" name="content" placeholder="문의 내용을 입력하세요" required></textarea>
        </div>

        <div class="mb-3">
            <input type="checkbox" id="isSecret" name="isSecret" value="true" onclick="handleSecretCheckbox(this)">
            <input type="hidden" id="isSecretHidden" name="isSecret" value="false">
            <label class="form-label">비밀글 설정</label>
        </div>

        <script>
            function handleSecretCheckbox(checkbox) {
                document.getElementById('isSecretHidden').disabled = checkbox.checked;
            }
        </script>


        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">등록</button>
            <a class="btn btn-danger ms-3" th:href="@{/products/{productId}/inquiries(productId=${productId})}">취소</a>
        </div>

    </form>
</div>
</body>
</html>