<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>문의 목록</title>
    <link href="/inquiry/style/bootstrap.min.css" rel="stylesheet">
    <link href="/inquiry/style/list.css" rel="stylesheet">
</head>
<body>
<main layout:fragment="content">
<div class="inquiry-list-board">
    <h2>상품 문의 목록</h2>

    <div class="product-info">
        <!--        <img th:src="${product.images}" alt="상품 이미지" class="product-image">-->
<!--        <img th:src="${productImage}" alt="상품 이미지" class="product-image">-->
        <div>
            <img id="productImage" th:src="@{${product.imageUrls[0]}}" alt="Product Image">
            <h3 th:text="${product.productName}">상품 이름</h3>
            <p th:text="${formattedPrice} + '원'">상품 가격</p>
        </div>
    </div>

    <div class="inquiry-write-button">
        <a th:href="@{/products/{productId}/inquiries/create(productId=${productId})}" class="btn btn-primary">문의 작성</a>
    </div>

    <div class="inquiry-list-container">
    <div id="inquiry-list">
        <div class="zero" th:if="${#lists.isEmpty(inquiries)}">
            <p class="mb-0">작성된 문의가 없습니다.</p>
        </div>

        <div th:each="detail : ${inquiries}" class="inquiry-list-row">
            <div class="inquiry-left">
                <p class="info" th:text="${detail['inquiry'].type.getKoreanName()}">문의 유형</p>
                <h5>
                    <span th:text="${#strings.abbreviate(detail['inquiry'].title, 40)}">문의 제목</span>
                    <span th:if="${detail['inquiry'].commentCount > 0}" class="badge rounded-pill text-bg-secondary">답변완료</span>
                </h5>
                <p class="info">
                    <span th:text="${detail['inquiry'].member.nickname}">닉네임</span> |
                    <span th:text="${detail['inquiry'].date}">YYYY-MM-DD</span>
                </p>
            </div>
            <div class="inquiry-right">
                <a th:if="${!detail['canView']}"
                   href="javascript:void(0);"
                   onclick="alert('비밀글입니다.');"
                   class="btn btn-secondary btn-sm">
                    상세 보기
                </a>
                <a th:if="${detail['canView']}"
                   th:href="@{/products/{productId}/inquiries/{inquiryId}(productId=${productId}, inquiryId=${detail['inquiry'].id})}"
                   class="btn btn-secondary btn-sm">
                    상세 보기
                </a>
            </div>
        </div>
    </div>
    </div>


</div>
</main>
</body>
</html>
