<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>내 문의 목록</title>
    <link href="/inquiry/style/bootstrap.min.css" rel="stylesheet">
    <link href="/inquiry/style/myInquiries.css" rel="stylesheet">
</head>
<body>
<main layout:fragment="content">
<div class="my-inquiry-board">
    <h2>내 문의 목록</h2>
    <div class="inquiry-container">
    <div id="my-inquiry-list">
        <div class="zero" th:if="${#lists.isEmpty(inquiries)}">
            <p class="mb-0">작성한 문의가 없습니다.</p>
        </div>

        <div th:each="inquiry : ${inquiries}" class="inquiry-list-row">
            <div class="inquiry-left">
                <p class="info" th:text="${inquiry.type.getKoreanName()}">문의 유형</p>
                <h5>
                    <span th:text="${#strings.abbreviate(inquiry.title ,40)}">문의 제목</span>
                    <span th:if="${inquiry.commentCount > 0}" class="badge rounded-pill text-bg-secondary">답변완료</span>
                </h5>
                <p class="info">
                    <span th:text="${inquiry.member.nickname}">닉네임</span> |
                    <span th:text="${inquiry.date}">YYYY-MM-DD</span>
                </p>
            </div>
            <div class="inquiry-right">
                <a th:href="@{/products/{productId}/inquiries/{inquiryId}(productId=${inquiry.product.getProductId()}, inquiryId=${inquiry.id})}" class="btn btn-secondary btn-sm">상세 보기</a>
            </div>
        </div>
    </div>
    </div>
</div>
</main>
</body>
</html>
